# build artifacts
/bin/
*.exe
*.dll
*.dylib
*.so

# frontend
node_modules/
frontend/dist/

# wails
frontend/bindings/
.task/

# wails generated build artifacts
build/linux/appimage/build/
build/linux/*.desktop
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe

# os
.DS_Store
Thumbs.db

# local
*.local.json
/tmp/

# IDE
.idea/
.vscode/
